@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
 



<main>
    <div class="container">

        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        <!-- <div class="d-flex justify-content-center py-4">
                          <a href="index.html" class="logo d-flex align-items-center w-auto">
                            <img src="assets/img/logo.png" alt="">
                            <span class="d-none d-lg-block">NiceAdmin</span>
                          </a>
                        </div>End Logo -->

                        <div class="card mb-3">

                            <div class="card-body">

                                <div class="pt-4 pb-2">
                                    <h1 class="card-title text-center pb-0 fs-4"> <b> ThreeAmigoes Corp </b> </h1>
                                    <!-- <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                                    <p class="text-center small">Enter your username & password to login</p> -->
                                </div>

                                <form class="row g-3 needs-validation" novalidate id="account" method="post">

                                    <div class="col-12">
                                        <label for="yourPassword" class="form-label">  Name    </label>
                                        <input asp-for="Input.FullName" type="text" placeholder=" Full Name " class="form-control" required>
                                        <div class="invalid-feedback">Please enter your password!</div>
                                    </div>
                                    <div class="col-12">
                                        <label for="yourUsername" class="form-label">Email</label>
                                        <div class="input-group has-validation">
                                            <span class="input-group-text" id="inputGroupPrepend">@@</span>
                                            <input asp-for="Input.Email" type="email" placeholder="Email" class="form-control" required>
                                            <div class="invalid-feedback">Please enter your username.</div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label for="yourPassword" class="form-label">  Telephone Number  </label>
                                        <input asp-for="Input.TelephoneNumber" type="text" placeholder=" Telephone Number" class="form-control" required>
                                        <div class="invalid-feedback">Please enter your password!</div>
                                    </div>
                                    <div class="col-12">
                                        <label for="yourPassword" class="form-label">Password</label>
                                        <input asp-for="Input.Password" type="password" placeholder="Password" class="form-control" required>
                                        <div class="invalid-feedback">Please enter your password!</div>
                                    </div>

                                    <div class="col-12">
                                        <label for="yourPassword" class="form-label">Confirm Password</label>
                                        <input asp-for="Input.ConfirmPassword" type="password" placeholder="Password" class="form-control" required>
                                        <div class="invalid-feedback">Please enter your password!</div>
                                    </div>



                                    <div class="col-12">
                                        <label for="yourPassword" class="form-label">  Payment Address</label>
                                        <input asp-for="Input.PaymentAddress" type="text" placeholder="Payment Address" class="form-control" required>
                                        <div class="invalid-feedback">Please enter your password!</div>
                                    </div>

                                    <div class="col-12">
                                        <label for="yourPassword" class="form-label">  Delivery Address</label>
                                        <input asp-for="Input.DeliveryAddress" type="text" placeholder=" Delivery Address" class="form-control" required>
                                        <div class="invalid-feedback">Please enter your password!</div>
                                    </div>


                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" type="submit">Create</button>
                                    </div>
                                   
                                </form>

                            </div>
                        </div>

                     
                    </div>
                </div>
            </div>

        </section>

    </div>
</main><!-- End #main -->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
